@tailwind base;
@tailwind components;
@tailwind utilities;

/* Site Background */

.red-background {
  background-color: #7e0d27;
  min-height: 100vh;
  margin: 0;
  display: block;
  border-top: 8px solid #8b5d81;
  border-left: 8px solid #8b5d81;
  border-right: 8px solid #8b5d81;
}

/* Text */
.white-text {
    color: white;
}

/* Buttons */
.button-gold {
    background-color: "#c6a664";
    color: white;
}

/* Other Styles */
.reversed {
  transform: rotate(180deg);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  z-index: 50;
}

.modal-content {
  position: relative;
  background-color: #B87A8a;
  width: 40rem;
  max-width: 90%;
  max-height: 90vh;
  margin: 5vh auto;
  padding: 1rem;
  overflow-y: auto;
  border-radius: 0.5rem;
}
